/* styles.css */

/* Reset browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.paragraph {
  max-height: 150px;
  overflow: hidden;
}

.read-more {
  display: block;
}

.read-more::before {
  content: '...';
}

.read-more.collapsed::before {
  content: '';
}


/* General Styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background: linear-gradient(330deg, #ffffff, #ff4500 40%, #ff0000 70%, #ffffff);
   color: black;
  padding: 20px;
  text-align: center;
  flex-shrink: 0; /* Prevents header from shrinking */
}
.banner {
  width: 100%;
  height: auto;
}

header h1 {
  margin-bottom: 0.5em;
}

header h2 {
  margin-top: 0.5em;
  font-size: 1.2em;
}

main {
  padding: 20px;
  flex-grow: 1; /* Allows main to take up remaining space */
}

section {
  margin-bottom: 2em;
}

nav {
  background-color: whitesmoke;
  padding: 1em;
  margin-bottom: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

footer {
  background: linear-gradient(330deg, #ffffff, #ff4500 40%, #ff0000 70%, #ffffff);
  color: black;
  text-align: center;
  padding: 20px;
  flex-shrink: 0; /* Prevents footer from shrinking */
}
.testimonial-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 10px;
}

.testimonial-item {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.testimonial-item p {
  margin: 0;
}

.testimonial-item p:first-child {
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .testimonial-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  justify-items: center;
}

.gallery-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@media (min-width: 600px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

/* Desktop Styles */
@media (min-width: 600px) {
  body {
    padding: 0 10%;
  }

  nav ul li {
    display: inline-block;
    margin-right: 1em;
  }

  header,
  nav,
  main,
  footer {
    padding: 2em;
  }

  /* add more desktop styles as needed */
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 20px; /* provides space between the items */
}

.contact-info > p {
  margin: 0; /* removes default margins from paragraphs */
}